.container {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 25px;
    font-family: "Poppins";
    color: var(--white);
}

.input {
    height: 42px;
    border: none;
    outline: none;
    font-family: "Poppins";
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.input:focus-visible {
    outline: 2px solid var(--green-turquoise);
}



.inputWrapper {
    position: relative;
    width: 100%;
  }
  
  .botaoLupa {
    position: absolute;
    left: 65%; 
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .iconLupa {
    width: 20px; 
    height: 20px;
  }