.containerInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5vh;
}

.containerInputsRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    width: 50vw;
}