.div_content_main {
    width: 100%;
    padding: 50px;
}

.container_content_dados {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 0;
}

.contaner_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    margin-bottom: 1rem;
    width: 80%;
}

.input_box {
    margin: 0.6rem 0;
    padding: 0.5rem 1rem;
    height: 50px;
    width: 100%;

    font-size: 18px;
    font-weight: 400px;
    color: var(---bold-darkgreen);

    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(-dark-medium-gray);
    transition: 0.3s;
}

.input_box:hover {
    background-color: var(--ligth-white);
}

.input_box:focus-visible {
    outline: 2px solid var(--green-turquoise);
}

.input_box::placeholder {
    font-size: 18px;
    font-weight: 400px;
    color: var(--dark-medium-gray);
}

.titule_box {
    font-size: 1.7vw;
    font-weight: 400;
    color: var(--white);
}