
  
  .todoConteudo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: #00473C;
    border-radius: 30px;
    width: 360px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 15px #00473C;
   
  }
  
  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    
  }
  

  
  .perfil p {
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    font-size: 1.6vw;
  }
  
  .form {
    width: 100%;
    padding: 30px;
  }
  
  
  .buttonn {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
   
    
  }
  
