/* apenas conferir o tamanho das setas */

.tableContainer {
  margin: 20px;
  border: 3px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  font-family: 'Poppins';
  width: 100%;
}

.produtosTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.produtosTable th,
.produtosTable td {
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
}

.produtosTable th {
  background-color: #137264;
  margin-bottom: 10px;
  border-bottom: 10px solid #00473c;
}

.produtosTable td {
  background-color: #308378;
  border-bottom: 5px solid #137264;
}

.tdQuantity {
  display: flex;
  justify-content: center;
}

.containerItemQuantity {
  display: flex;
  background-color: #fff;
  width: min-content;
  border-radius: 10px;
  overflow: hidden;
  padding: 0 5px;
}

.inputNumber {
  border: none;
  outline: none;
  width: 7vw;
}

.inputNumber:focus {
  border: none;
}

.containerItemQuantity img {
  height: 1.3vw;
  width: 1.3vw;
  cursor: pointer;
}

.closeButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 30px;
}

.closeButton:hover {
  color: #f00;
}

.containerBottomButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 40px 40px 30px 40px;

}