.buttonContainer {
    background-color: var(--white);
    border-radius: 8px;
    cursor: pointer;
    width: min-content;
    padding: 3px 15px;
    transition: .3s;
    border: none;
}

.textButton {
    color: var(--darkgreen);
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
    transition: .3s;
    text-wrap: nowrap;
}

.buttonContainer:hover p {
    color: var(--white);
}