.div_content_busca {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    margin-top: 10px;
}

.content_table {
    overflow-x: auto;
    width: 100%;
}

.table_fornecedores {
    position: relative;
    background-color: var(--light-teal);
    width: 100%;
    border-radius: 0px  0px 15px 15px;
    border-collapse: separate;
    border-spacing: 0 20px;
}

.table_header {
    background-color: var(--light-teal);
}

.table_header > tr > th {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--white);
    padding: 5px;
}

.table_body > tr {
    background-color: var(--medium-darkcyan);
    cursor: pointer;
    transition: 0.3s;
}

.table_body td{
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    padding: 14px;
    border-left: 3px solid var(--white);
    transition: 0.3s;
}

.table_body td:first-child {
    border-left: none;
}

.table_body > tr:hover {
    background-color: var(--darkgreen);
}

.table_body > tr:hover > td {
    border-left: none;
}

.containerContentMaster{
    padding: 1.2em 50px 45px 50px !important;
}

.containerContent{
    width: 100%;
}

.containerTable{
    overflow: hidden;
    padding: 0 !important;
}

.containerTable div{
    border-radius: 0 !important;

}

.titleTable{
    color: var(--white);
    font-weight: 500;
    font-size: 1.6em;
    margin-top: 4vh;
}

.containerButtons{
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-top: 35px;

}

