.containerMaster {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.containerTitle {
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--white);
    font-size: 1.7em;
    font-family: "Poppins";
    cursor: pointer;
}

.iconModule {
    font-size: 24px;
}

.containerOptions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}