.containerMaster {
    display: flex;
    flex-direction: column;
    background-color: var(--darkgreen);
    padding: 40px 40px 20px 40px;
    width: min-content;
    height: calc(100% - 80px);
    gap: 15px;
}