.containerMaster {
    display: flex;
    flex-direction: column;
    background-color: var(--darkgreen);
    padding: 2vw 2vw 1vw 2vw;
    width: min-content;
    height: calc(100% - 80px);
    gap: 15px;
}