.containerMaster {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#0B221F -60%, #2D887A 100%);
}

.containerLeft {
  height: 100vh;
  width: 33vw;
  background-color: var(--darkgreen);
  border-right: 2px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 7%;
}

.imageLogo {
  width: 35%;
}

.titleLeft {
  font-size: 2.2em;
  color: var(--white);
  font-weight: 600;
}

.textContent {
  color: var(--white);
  font-size: 1.4em;
  width: 75%;
  font-weight: 600;
}

.textContent span {
  color: var(--medium-ligth-green);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.textContent span:hover {
  color: var(--light-medium-seagreen);
  text-decoration: underline;
}

.containerRight {
  color: var(--white);
  height: 100vh;
  width: 66vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7vh
}

.loginTitle {
  font-size: 2.7em;
  font-weight: 600;
}

.inputsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.containerContent {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.resetPassword {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.2em;
}

.resetPassword:hover {
  text-decoration: underline;
}

.containerContentOptions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
