.main {
    background-color: var(--azure);
}

/*Banner contener*/

.home_banner {
    height: calc(93vh - 40px);
    background-color: var(--paleturquoise);
    padding: 50px 58px 80px;
}

.content_banner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.content_banner > .content_img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
}

.content_banner > .content_img > img {
    max-width: 90%;
    height: auto;
}

.content_text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    flex: 1;
}

.tags_content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.tags_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    border: 0px solid transparent;
    background-color: var(--lightseagreen);
    border-radius: 30px;
    padding: 3px 15px;
    line-height: 20px;
}

.tags_text > svg {
    padding-right: 10px;
}

.tags_text > span {
    color: var(--bold-darkgreen);
    font-weight: 600;
    text-align: center;
    font-size: 14px;
}

.div_separa {
    gap: 15px;
}

.content_text > h1 {
    margin: 10px 0 0px;
    color: var(--black);
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
}

.content_text > h1 > strong{
    font-weight: 600;
    color: var(--light-teal);
}

.content_text > p {
    margin: 41px 0;
    font-size: 18px;
    line-height: 26px;
    color: var(--gray);
    font-weight: 500;
}

.buttons_banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.buttons_banner > .button_comeca, .buttons_banner > .button_sabia_mais  {
    padding: 7px 30px;
    border-radius: 30px;
    width: max-content;
    line-height: 20px;
    font-weight: 550;
    text-align: center;
    font-size: 17px;
    transition: 0.5s;
}

.buttons_banner > .button_comeca {
    margin: 0 20px 0 0;
    background-color: var(--white);
    border: 3px solid var(--white); 
    color: var(--light-teal);
}

.buttons_banner > .button_sabia_mais { 
    margin: 0  0  0 20px;
    background-color: transparent;
    border: 3px solid var(--light-teal); 
    color: var(--light-teal); 
}

.button_comeca:hover {
    background-color: var(--light-teal);
    color: var(--white);
    border: solid var(--light-teal); 
}

.button_sabia_mais:hover {
    background-color: var(--light-teal);
    color: var(--white);
    border: solid var(--light-teal); 
}


/*Planos contener*/


#section_plans {
    width: 100%;
    min-height: 100vh;
    background-color: var(--azure);
    padding: 30px 0 80px 0;
}

.container_header_plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 0;
    gap: 8vh;
    text-align: center;
}

.header_plans_title {
    color: var(--dark-medium-grey);
    font-size: 2vw;
    font-weight: 600;
    line-height: 2.7vw;
}

.header_plans_title_span {
    color: var(--light-teal);
}

.header_plans_subtitle {
    color: var( --gray);
    font-size: 1.2vw;
    font-weight: 500;
}

.div_plans_payment_period {
    position: relative;
    background: var(--ghostwhite);
    display: flex;
    justify-content: space-between;
    border-radius: 5vw;
    overflow: hidden;
    color: var(--dark-medium-grey);
}

.container_option_payment_period {
    padding: .9vw 3vw;
    cursor: pointer;
    z-index: 1;
}

.span_selected_payment_period {
    position: absolute;
    background-color: var(--darkgreen);
    height: 100%;
    width: 50%;
    z-index: 0;
}

.div_plans_payment_period p {
    font-weight: 600;
    font-size: 1.2vw;
    transition: 1s;
}

@keyframes spanPayment-in {
    0% {
        transform: translate(0, 0);
        border-radius: 5vw 0 0 5vw;
    }
    100% {
        transform: translate(100%, 0);border-radius: 0 5vw 5vw 0;
    }
}

@keyframes spanPayment-out {
    0% {
        transform: translate(100%, 0);
        border-radius: 0 5vw 5vw 0;
    }
    100% {
        transform: translate(0, 0);
        border-radius: 5vw 0 0 5vw;
    }
}

.containerPlans {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 3vh 0;
}


/*Sobre contener*/


.sobre_estotech {
    background-color: var(--medium-ligthcyan);
    padding: 50px 58px 80px;
}

.bloco_empresa {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.header_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0 30px;
}

.header_titulo > h1 {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    color: var(--bold-darkgreen);
}

.contener_sobre_empresa {
    display: flex;
    align-items: center;
    justify-content:  space-around;
    flex-direction: row;
    width: 100%;
    padding: 30px 0;
    gap: 65px;
}

.content_sobre {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.content_sobre > h2 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 550;
    color: var(--bold-darkgreen);
    margin-top: 10px;
    margin-bottom: 20px;
}

.content_sobre > p {
    margin: 10px 0;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    color: var(--gray);
    font-weight: 400;
}

.content_sobre > p > span {
    color: var(--light-teal);
    font-weight: 450;
}

.contener_equipe {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    padding: 20px 0;
}

.content_titulo_equipe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content_titulo_equipe > h2 {
    margin: 0;
    font-size: 38px;
    line-height: 40px;
    font-weight: 600;
    color: var(--bold-darkgreen);
}

.contener_apreset_equipe{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 31px;
    padding-top: 20px;
}

.contener_participate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.contener_img {
    width: max-content;
    border-radius: 100%;
}

.content_legenda {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.content_legenda > h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--bold-darkgreen);
    margin: 0;
}

.content_legenda > p {
    font-size: 17px;
    font-weight: 500;
    color: var(--gray);
    margin: 0;
}


/*Suporte contener*/


.fale_conosco {
    height: 100vh;
    background-color: var(--azure);
    padding: 50px 58px 80px;
}

.content_suporte {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.content_header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 30px 0 0;
}

.content_suporte > .content_img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.content_suporte > .content_img > img {
    box-shadow: 4px 3px 8px var(--dark-grey);
    border-radius: 30px;
    max-width: 95%;
    height: auto;
}

.content_text_suporte {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    flex: 1;
}

.content_text_suporte > .content_header > h1 {
    margin: 10px 0 0px;
    color: var(--black);
    font-size: 39px;
    line-height: 40px;
    font-weight: 550;
}

.content_text_suporte > .content_header > h1 > span{
    font-weight: 650;
    color: var(--light-teal);
}

.content_text_suporte > .content_header > p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
    color: var(--gray);
    font-weight: 400;
}

.content_contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 0;
    width: 100%;
    gap: 40px;
}

.bloco_suporte, .bloco_endereco {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: var(--lightcyan);
    box-shadow: 4px 3px 8px var(--grey);
    border-radius: 20px;
    padding: 20px 30px;
    width: 70%;
}

.content_titulo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 5px;
}

.content_titulo > h2 {
    color: var(--bold-darkgreen);
    font-size: 23px;
    font-weight: 600;
    margin: 0;
}

.content_titulo > .svg_titulo path{
    fill: var(--bold-darkgreen);
}

.contener_telefone {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.content_contato_titulo, .content_email_titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.content_contato_titulo > h3 {
    color: var(--bold-darkgreen);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.contener_telefone > a {
    color: var(--light-teal);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    transition: 0.3s;
}

.contener_telefone > a:hover {
    color: var(--light-medium-seagreen);
    text-decoration: underline;
}

.contener_telefone > p {
    color: var(--medium-grey);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.contener_email {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.content_email_titulo > h3 {
    color: var(--bold-darkgreen);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.content_email_titulo > .svg_titulo path {
    fill: var(--bold-darkgreen);
}

.contener_email > a {
    color: var(--light-teal);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    transition: 0.3s;
}

.contener_email > a:hover {
    color: var(--light-medium-seagreen);
    text-decoration: underline;
}

.contener_endereco > p{
    color: var(--medium-grey);
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: justify;
    margin: 0;
}

.style_sepert {
    width: 70%;
    height: 1px; 
    background-color: transparent;
    margin: 10px 0 20px;
    position: relative;
}

.style_sepert::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: var(--dark-gray);
    border-radius: 50px;
}
