.containerMaster {
    background-color: var(--darkgreen);
    color: white;
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--white);
    padding: 0 20px;
}

.logoContainer {
    cursor: pointer;
    height: 100%;
    width: unset;
}

.logo {
    object-fit: contain;
    height: 100% !important;
    position: relative !important;
    width: unset !important;
}

.headerButtonsContainer {
    display: flex;
    align-items: center;
    gap: 25px;
}

.iconAccountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    background-color: var(--lightgray);
    color: var(--darkgreen);
    height: min-content;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.iconBellContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: var(--white);
    height: min-content;
    font-size: 1.5vw;
    width: 45px;
    height: 45px;
    border: 2px solid var(--white);
    border-radius: 8px;
}

.notificationIcon {
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background-color: var(--orange);
    top: -7px;
    right: -7px;
}

.icon {
    height: 27px;
    width: 27px;
}

.containerModalMaster {
    display: flex;
    flex: 1;
    top: 80px;
    height: calc(100vh - 80px);
    width: 100vw;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
}

.containerBackground {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
}

.containerContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 250px;
    padding: 15px 45px;
    gap: 20px;
    right: 0;
    top: 0;
    background-color: var(--darkgreen);
    border-radius: 0 0 0 10px;
}

.titleContent {
    color: var(--white);
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

.containerTextContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.containerText {
    color: var(--white);
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    cursor: pointer;
}

.containerText div{
    height: 2px;
    background-color: var(--white);
    width: 100%;
    margin: 0;
    padding: 0;
}