.containerMaster {
    background-color: var(--darkgreen);
    color: white;
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--white);
    padding: 0 20px;
}

.logoContainer {
    cursor: pointer;
    height: 100%;
    width: unset;
}

.logo {
    object-fit: contain;
    height: 100% !important;
    position: relative !important;
    width: unset !important;
}

.icons {
    display: flex;
    gap: 35px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}