  .titlemaster {
    font-family: "Poppins";
    font-weight: 600;
    color: #FFF;
    font-size: 3.5vw;
  }
  
  .divcontentheader {
    text-align: center;
    position: relative;
    padding-top: 10px;
    margin-bottom: 50px;
  }
  
  
  .containermasterinputfield {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }
  
  .containerinputfield {
    width: 30%;
  }
  
  .container_box {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    gap: 150px;
  }
  
  .labelinputfield {
    font-size: 1.7vw;
    color: #FFF;
    font-family: "Poppins";
    margin-bottom: 7px;
    font-weight: 200;
    padding-top: 10px;
  }
  
  .btnadicionar{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--white);
    padding: 30px 30px;
    width: 18vw;
    border-radius: 8px;
    gap: 15px;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.25em;
    color: var(--black);
  }
  
  

  
  .content {
    display: flex;
    flex-direction: column;
  }
  .sexoContainer {
    margin-bottom: 7px;
    padding-top: 10px;
    font-size: 25px;
    font-family: "Poppins";
    color: var(--white);
  
  }
  
  .radiolabel {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 200;
  }
  
  .customradio {
    font-family: "Poppins";
    margin-bottom: 7px;
    font-weight: 200;
    padding-top: 10px;
    font-size: 25px;
    color: var(--white);
  }
  
  .radiolabel input[type="radio"]:checked + .customradio {
    background-color: var(--white);
  }