.sexo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins";
  font-size: 1.7vw;
  color: #FFF;
  font-weight: 200;
  padding-top: 30px;
}

.sexo label {
  margin: 0;
}   

.titlemaster {
  font-family: "Poppins";
  font-weight: 600;
  color: #FFF;
  font-size: 3.5vw;
}

.divcontentheader {
  text-align: center;
  position: relative;
  padding-top: 10px;
  margin-bottom: 50px;
}

.titlesectionfield {
  font-family: "Poppins";
  font-size: 1.7vw;
  color: #FFF;
  background: #00473C;
  position: absolute;
  padding: 5px 15px;
  top: -22px;
}

.divborderfield {
  position: relative;
  border: 5px solid #FFF;
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 80px;
}

.containermasterinputfield {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.containerinputfield {
  width: 30%;
}

.inputfield {
  border: none;
  outline: none;
  border-radius: 5px;
  height: 40px;
  width: 60vh;
  box-shadow: 2px 2px 5px #2e2e2e;

}

.labelinputfield {
  font-size: 1.7vw;
  color: #FFF;
  font-family: "Poppins";
  margin-bottom: 7px;
  font-weight: 200;
  padding-top: 10px;
}

.btnadicionar{
  padding: 30px;
  font-size: 1.7vw;
  color: #000000;
  font-weight: 400;
  font-family: "Poppins";
  margin-bottom: 7px;
  margin: 20px;
}
.btncadastrar{
  margin-left: 80%;
  margin-bottom: 3%;
  padding: 5 10px;
  border-radius: 8px;
  font-family: "Poppins";
  font-weight: 600;
  color: #00473C;
  font-size: 20px
}

.pin {
  width: 30px;
  margin-right: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.details {
  font-size: 14px;
  color: gray;
  margin: 0;
}
