*{
    font-family: "Poppins";
}

/* Ajuste geral dos inputs */
.input {
    border: none;
    height: 3.1vw;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2e2e2e;
    font-size: 1.4vw;
    font-weight: 600;
    color: #00332B;
    padding: 10px 15px; 
    background-color: #FFF;
    margin-top: 5px; 
    box-sizing: border-box; 
    /* width: 100%; */
    outline: none;

}

.div-content-cliente{
    position: relative;
    border: 5px solid #FFF;
    border-radius: 20px;
    padding-top: 30px;

}



.linha {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
}

label {
    display: flex;
    flex-direction: column;
    flex: 1; 
    padding: 5px; 
    padding-right: 20px;
}
.personalizado{
    height: 2.7vw;
}
.buscar-cliente {
    width: 50%; 
    margin-bottom: 30px;
}
.campo-nome{
    width: 90%;
}
.campo-cpf{
    width: 90%;
}
.campo-endereço{
    width: 130%;
}
.campo-bairro{
    width: 80%;
}
.campo-cep{
    width: 70%;
}
.campo-cidade{
    width: 90%
}
.campo-estado{
    width: 90%;
}

.input-wrapper {
    position: relative; 
    width: 100%;
}

.botao-lupa {
    position: absolute;
    left: 47%; 
    top: 20%;
    background: none; 
    cursor: pointer; 
    padding: 0;
}


.icon-lupa {
    width: 25px;
    height: 25px;
}

.field-master-component {
    border: 5px solid #FFF;
    border-radius: 20px;
    margin-top: 20px ;
    margin-bottom: 20px;
    overflow: hidden;
}

.field-master-component legend {
    font-family: "Poppins";
    color: #FFF;
    padding: 10px;
    margin-left: 1.8vw;
    font-size: 2vw;
}

.container-header-list-options {
    display: flex;
    gap: 10px;
    padding: 15px 20px;
    border-width: 5px 0;
    border-color: #FFF;
    border-style: solid;
}

.button-header-options {
    background-color: #FFF;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 1.4vw;
    font-weight: 600;
    box-shadow: 3px 3px 5px #2e2e2e;
    cursor: pointer;
    transition: .5s;
    
}



.table-products {
    width: 100%;
    color: #FFF;
    font-family: "Poppins";
}

.header-list-products {
    background-color: #137264;
    margin-bottom: 15px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.list-header-title {
    font-size: 1.2vw;
}

.div-table-container-content {
    height: 70vh;
    background-color: #137264;
    width: 100%;
    overflow: scroll;
    position: relative;
}

.table-container-content {
    width: 100%;
    border-spacing: 30px;
}

.div-content-input-total {
    display: flex;
}

.label-input-login {
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    font-size: 1.8vw;
    color: #FFF;
    gap: 5px;
    position: relative;
    z-index: 1;
}

.label-input-login span {
    font-weight: 300;
}

.label-input-login input {
    border: none;
    height: 3.1vw;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2e2e2e;
    outline: none;
    font-size: 1.4vw;
    font-weight: 500;
    color: #00332B;
    padding: 0 15px;
    width: 80%;
    background-color: #FFF;
}

.label-input-login textarea {
    border: none;
    height: 6vw;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2e2e2e;
    outline: none;
    font-size: 1.4vw;
    font-weight: 400;
    color: #00332B;
    padding: 0 15px;
    width: 100%;
    background-color: #FFF;
    resize: none;
}

.field-total {
    padding: 20px 10px;
}

.container-infos-bottom {
    display: flex;
    justify-content: space-between;
}

.div-tag-bottom {
    display: flex;
    align-items: center;
    font-family: "Poppins";
    color: #FFF;
    font-size: 1.5vw;
    gap: 20px;
    font-weight: 600;
}

.div-tag-bottom span {
    background-color: #FFF;
    color: #00332B;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #2e2e2e;
}

.table-container-content td {
    text-align: center;
    background-color: #63C7B8;
    padding: 10px 0;
    color: #FFF;
    font-size: 1.2vw;
}

.table-container-content tr {
    width: 100%;
    border-bottom: 5px solid #137264;
}

tr:first-child, tr:last-child {
    border: none;
}

.hr-border {
    width: 2px;
    height: 100%;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    position: absolute;
    border: none;
}

