
/* Ajuste geral dos inputs */
.input {
    border: none;
    height: 3.1vw;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2e2e2e;
    font-size: 1.4vw;
    font-weight: 600;
    color: #00332B;
    padding: 10px 15px; 
    background-color: #FFF;
    margin-top: 5px; 
    box-sizing: border-box; 
    /* width: 100%; */
    outline: none;

}

