.containerMaster {
    border: 4px solid var(--white);
    width: 100%;
    border-radius: 15px;
    position: relative;
    padding: 1.2em 15px 15px 15px;
    margin-top: 2em;
}

.titleContainer {
    font-family: "Poppins";
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    color: var(--white);
    position: absolute;
    left: 25px;
}

.titleContainer span {
    display: inline;
    padding: 5px 20px;
    background-color: var(--darkgreen);
    position: relative;
    top: -1.5em;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}