.backgroundContainer {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
  }
  
  .modalContainer {
    width: 900px;
    background-color: var(--bold-darkgreen);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--darkGreen);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .closeButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .searchContainer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: flex-end;
    border: 3px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  
  .inputGroup label {
    margin-bottom: 5px;
    font-size: 1.5vw;
    font-weight: 500;
  }
  
  .inputEstilizado input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    height: 2vw;
    box-shadow: 2px 2px 5px #2e2e2e;
  }
  
  .buttonGroup {
    
    display: flex;
    gap: 12px;
    margin-left: 5vw;
  }
  
  .tableContainer {
    margin: 20px;
    border: 3px solid #fff;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .fornecedoresTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }
  
  .fornecedoresTable th, .fornecedoresTable td {
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
  }
  
  .fornecedoresTable th {
    background-color: var(--valuegreen);
    border-bottom: 10px solid var(--darkgreen);
  }
  
  .fornecedoresTable td {
    background-color: var(--light-teal );
    border-bottom: 5px solid var(--lightseagreen);
    border-left: 2px solid white;
  }
  
  .pagina {
    text-align: right;
    padding: 10px;
    font-size: 0.9rem;
    color: #fff;
  }

  